* {
   background: #25282a;
}

.container {
   max-width: 90em;
   margin: 0 auto;
   padding-right: 1em;
   padding-left: 1em;
   
}
.cover{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 2em;
   flex-flow: row-reverse;
}
.cover-item {
   color: white;
   margin-bottom: 2em;
}
.slider {
   display: block;
   margin: auto;
   margin-top: 1em;
}

.slider__item {
   height: 84vh;
   margin-top: 7.5pt;
   border: 0.75pt solid #000;
   overflow: hidden;
   text-align: center;
   border-radius: 1em;
}
.img{
   border-radius: 1em;
   width: 100%;
   height: 100%;
}
.slider__dots {
   display: flex;
   cursor: pointer;
   height: 1em;
   margin: auto;
}
.slider__dot {
   flex: auto;
   margin: auto 0;
   padding: 7.5pt;
}
.slider__dot:hover span{
   background: white;
}
.dot__active:hover span{
   background: transparent;
   border: white 0.75pt solid;
}
.slider__dots-item {
   width: 1em;
   height: 1em;
   background: #6f98bd;
   display: inline-block;
   border-radius: 50%;
   cursor: pointer;
   transition: all 0.4s;
}
.img__active {
   display: none;
}
.dot__active span{
   background: transparent;
   border: #6f98bd 0.75pt solid;
   transition: all 0.4s;
}
@media (max-width:500px){
   .cover {
      display: block;
   }
   .cover-item{
      margin-bottom: 3em;
   }
   .slider{
      margin-top: 2em;
   }
   .slider__item {
      height: 45vh;
   }
   .slider__dots {
      display: flex;
      justify-content:center;
      cursor: pointer;
      width: 2em;
   }
}
